* {
  margin: 0;
  padding: 0;
  font-family: "geist";
}

@font-face {
  font-family: "geist";
  src: url("assets/vercel_fonts/geist.ttf");
}

@font-face {
    font-family: 'geist-monos';
    src: url('editor/vercel_assets_fonts/geist\ mono.ttf');
}

body {
  background-color: #0c0c0c;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.38);
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  height: 8vh;
}

.logo {
  font-size: 26px;
}

main {
    gap: 90px;
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes shadow-color {
  from {
    box-shadow: 0 0 29px rgba(255, 255, 255, 0.38);
  }

  to {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.38);
  }
}

.m_o-s-txt {
    color: #0066ff;
}

#f-s {
  font-size: 60px;
  color: #fff;
}

#gsc {
  color: #006eff;
  font-family: 'geist-monos';
}

button {
    transition: 0.3s;
    background-color: transparent;
    border: solid #006eff 2px;
    width: 190px;
    height: 35px;
    cursor: pointer;
    color: #006eff;
    border-radius: 0.6em;
}

.box_editor {
  font-family: 'google-code-sans';
  border: 2px #fff solid;
  box-shadow: 0 0 29px rgba(255, 255, 255, 0.38);
  color: #fff;
  font-size: 25px;
  width: 480px;
  border-radius: 1em;
  height: 280px;
  animation: alternate infinite 2s shadow-color ease;
  background: #1818186c;
  backdrop-filter: blur(2px);
}

button:hover {
    background-color: #006eff;
    color: #fff;
}

.box_editor span {
  margin-left: 20px;
  margin-top: 10px;
}

#slogan {
  color: #fff;
  font-size: 50px;
}

a {
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #006eff;
}

.ul-nav-list {
  display: flex;
}

.ul-nav-list li {
  margin-left: 32px;
  list-style: none;
}
