* {
    margin: 0;
    padding: 0;
    font-family: 'geist';
    color: #fff;
}

@font-face {
    font-family: 'geist';
    src: url('../vercel_fonts/geist.ttf');
}

body {
  background-color: #0c0c0c;
}

nav {
  width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.38);
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  height: 8vh;
}

li {
    list-style: none;
}

button {
    background-color: transparent;
    color: #006eff;
    border: #006eff solid 2px;
    width: 170px;
    transition: 0.3s;
    height: 35px;
    border-radius: 0.6em;
    font-family: 'geist';
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #006eff;
    color: #fff;
}

li a {
    font-size: 19px;
}

a {
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

a:hover {
    color: #006eff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}