* {
  font-family: "geist";
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "geist";
  src: url("vercel_assets_fonts/geist.ttf");
}

@font-face {
  font-family: "geist-mono";
  src: url("vercel_assets_fonts/geist\ mono.ttf");
}

textarea {
  outline: none;
  background-color: #161616;
  border: solid #232323 1px;
  height: 90vh;
  width: 740px;
  color: #fff;

  font-family: "geist-mono";
  resize: none;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
}

#wind {
  width: 140px;
  height: 6vh;
}

a:hover {
    color: #006eff;
}

#log {
  border-radius: 0em 0.4em 0.4em 0em;
  border: #232323 solid 1px;
  color: #fff;
  font-family: "geist-mono";
  height: 90vh;
  background-color: #161616;
  width: 740px;
}

#editor-code {
  border-radius: 0.4em 0em 0em 0.4em;
}

body {
  background-color: #0c0c0c;
}

#share {
  position: relative;
  color: #7b00ff;
  border: solid 2px #7b00ff;
  background-color: transparent;
}

#share:hover {
  background: #7b00ff;
  color: #ffffff;
}

nav {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.38);
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  height: 8vh;
}

a {
  transition: 0.3s;
  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 25px;
}

button:hover {
  background-color: #006eff;
  color: #fff;
}

.editor-list {
  display: flex;
  list-style: none;
}

.editor-list li {
  margin-left: 32px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

button {
  transition: 0.3s;
  background-color: transparent;
  border: solid #006eff 2px;
  width: 170px;
  height: 35px;
  cursor: pointer;
  color: #006eff;
  border-radius: 0.6em;
}
